@import './lib/reset.css';
@import './lib/normalize.css';
@import 'carbon-components-svelte/css/g100.css';

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);
  --primary: #E9B872;
  --bg: #151515 ;
  --text: #fff;
  --footer: #767B91;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  margin: 0;
} */
